<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo.Properties.Settings.ZainConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;\\psf\home\documents\visual studio 2013\Projects\ZainGym\ZainGym\Data\Zain.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>